{% extends 'public/base.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<h3>{{ object.title }}</h3>

<h5>Overview</h5>
<small><a href="{% url 'course_list_subject' object.subject.slug %}">{{ object.subject.title }}</a>. 
  {{ object.modules.count }} modules. Instructor: {{ object.owner.username }}</small>

<p>{{ object.overview | linebreaks }}</p>

{% if request.user.is_authenticated %}
<form action="{% url 'student-enroll-course' %}" method="post">
  {% csrf_token %}
  {{ enroll_form }}
  <input type="submit" value="Enroll" class='btn btn-primary'>
</form>
{% else %}
<a class="btn btn-primary" href="{% url 'student-registration' %}">Register to enroll</a>
{% endif %}
{% endblock %}


