{% extends 'dashboard_base.html' %}
{% load course %}

{% block title %} Module {{ module.order | add:1 }} | {{ module.title }}{% endblock %}

{% block left_sidebar %}
<h3 class="menu-title">Course "{{ module.course.title }}"</h3>

{% for m in module.course.modules.all %} 
<li data-id={{ m.id }} class='{% if m == module %}active{% endif %}'
	><a href="{% url 'module_content_list' m.id %}"><span class="order">{{ m.order| add:1 }}
</span>. {{ m.title }}</a></li>
{% endfor %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <h3>Module <small class="text-muted">{{ module.order | add:1 }} | {{ module.title }}</small></h3>
    <h4>Module Contents</h4>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul id='contents' class="list-group">
      {% for content in module.contents.all %}
      <li class="list-group-item" data-id="{{ content.id }}">
				<p>{{ content.item }} ({{ content.item | model_name }})</p>
				<a href="{% url 'module_content_update' module.id content.item|model_name content.item.id %}" class="btn btn-primary">Edit</a>
        <form action="{% url 'module_content_delete' content.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Delete" class="btn btn-danger">
        </form>
      </li>
      {% empty %}
      <p>This module haven't any content yet.</p>
      {% endfor %}
    </ul>

    <hr>
    <h3>Add a new content:</h3>
    <nav class="nav">
      <a class="nav-link btn btn-primary" href="{% url 'module_content_create' module.id 'text' %}">Text</a>
      <a class="nav-link btn btn-primary" href="{% url 'module_content_create' module.id 'video' %}">Video</a>
      <a class="nav-link btn btn-primary" href="{% url 'module_content_create' module.id 'image' %}">Image</a>
      <a class="nav-link btn btn-primary" href="{% url 'module_content_create' module.id 'file' %}">File</a>
    </nav>
  </div>
</div>

{% endblock %}

{% block domready %}
jQuery('#left-sidebar').sortable({
	cancel: 'h3',
		stop: function(event, ui){
			modules_order = {}

			jQuery('#left-sidebar li').each(function() {
				jQuery(this).find('.order').text(jQuery(this).index())
				modules_order[jQuery(this).data('id')] = jQuery(this).index() - 1;
			})

			jQuery.ajax({
				type: 'POST',
				url: '{% url "module_order" %}',
				contentType: 'application/json; charset=utf-8',
				dataType: 'json',
				data: JSON.stringify(modules_order)
			})


		}
});

jQuery('#contents').sortable({
		stop: function(event, ui){
			modules_order = {}

			jQuery('#contents li').each(function() {
				modules_order[jQuery(this).data('id')] = jQuery(this).index() - 1;
			})

			jQuery.ajax({
				type: 'POST',
				url: '{% url "content_order" %}',
				contentType: 'application/json; charset=utf-8',
				dataType: 'json',
				data: JSON.stringify(modules_order)
			})


		}
});
{% endblock %}
